<form action="/agregardinero" method="POST">
  Ingrese cantidad de dinero a agregar:
  <input name="dinero" type="number" step="0.01" placeholder="Monto" />
  <button type="submit">Añadir Fondos</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>